.logo {
    height: 32px;
    margin: 16px;
    color: #001529;
    font-size: 28px;
}

.header {
    padding: 0;
    background: #fff !important;
}

.userIcon {
    color: #001529;
    position: fixed;
    right: 20px;
    font-size: 24px;
}
